<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Machtblick</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>soli.Machtblick</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>machtblick</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces-Regular.ttf</string>
		<string>Fraunces-SemiBold.ttf</string>
		<string>Fraunces-Bold.ttf</string>
		<string>Newsreader-Regular.ttf</string>
		<string>Newsreader-Bold.ttf</string>
		<string>Newsreader-Italic.ttf</string>
		<string>Newsreader-BoldItalic.ttf</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
